
{namespace covidmap.home requirecss="covidmap.styles,covidmap.mdl"}


/**
 * Render the layout shared by all COVIDMap pages. This adds the page navigation, the header, and the main app footer.
 * Most of the interaction here is static.
 */
{template .layout visibility="private"}
  {@param appContainer: string}  /** App container ID. */
  {@param? liftedJS: js}  /** Lifted JavaScript to apply, if any. */

  {let $title kind="text"}
      {msg desc='Homepage title.'}COVID Impact Map{/msg}
  {/let}

  {call gust.page.wrap}
    {param liftedJS: $liftedJS /}
    {param bodyClass: css('covidmap') /}
    {param content kind="html"}
        <div id="{xid('wrap')}" class="{css('mdl-layout')} {css('mdl-js-layout')}">
          <main id="{$appContainer}" class="{css('mdl-layout__content')}">
          </main>
        </div>
    {/param}
  {/call}
{/template}


/**
 * Render the homepage for COVID Impact Map.
 */
{template .page}
  {@param appContainer: string}  /** App container ID. */
  {@param? liftedJS: js}  /** Lifted JavaScript to apply, if any. */

  {call .layout}
    {param liftedJS: $liftedJS /}
    {param appContainer: $appContainer /}
  {/call}
{/template}
