
$app-name: 'COVID Impact Map';
$app-color-primary: #fefefe;
$app-color-text: #333;
$app-font-family-primary: unquote("-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji");
